# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform.tfvars
infrastructure/terraform.tfvars
